.memory-card {
    height: 128px;
    width: 128px;
    font-size: 96px;
    perspective: 1000px;
    user-select: none;
    Xoverflow: hidden;
}


.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.3s;
}

.flipper.flip {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.back {
    @apply bg-gradient-to-r from-white via-gray-200 to-gray-300;
    transform: rotateY(180deg);
}

.front {
    background-color: transparent;
}